""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set relativenumber
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set NERDTree
set which-key


""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
map <leader><Tab> :NERDTreeToggle<CR>
"map <C-w>h <Action>StretchSplitToRight
"map <C-<> <Action>StretchSplitToBottom
"map <C-w>k <Action>StretchSplitToTop
"map <C->> <Action>StretchSplitToLeft
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>sg <Action>(FindInPath)
map <leader>sw <Action>(FindSelectionInPath)
map <leader>sf <Action>(GotoFile)
"map <leader>s <Action>(SelectInProjectView)
map <leader>gb <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

nmapsymotion-prefix) <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>i <action>(Generate)
"nmap <leader>p <action>(ActivateProjectToolWindow)
