[user]
  name = Akshay Aurora
  email = akshayaurora@yahoo.com

[alias]
  co = checkout
  br = branch
  pu = "!f() { B=$(git rev-parse --abbrev-ref HEAD);git push -u origin \"$B:akshay/$B\"; }; f"
  puf = "!f() { B=$(git rev-parse --abbrev-ref HEAD);git push -u origin \"$B:akshay/$B\" --force-with-lease; }; f"
  dirclone = "!$HOME/.dotfiles/scripts/git-dirclone"

[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[color]
  ui = true

[push]
	default = current

[diff]
  colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	updateRefs = true
[maintenance]
	repo = /Users/akshayaurora/Projects/core
	repo = /Users/akshay.aurora/Projects/smithdb
[url "git@github.com:"]
	insteadOf = https://github.com/
