.DS_Store
Spoons
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/autoload/
neovim/.config/nvim/plugged/
vscode/User/profiles
vscode/User/History
vscode/User/workspaceStorage
vscode/User/globalStorage
karabiner/.config/karabiner/assets
karabiner/.config/karabiner/automatic_backups
.env
zsh/interal.z
neovim/.config/nvim/lua/personal/projects.lua
